
{{ if eq .chezmoi.os "linux" }}
{{- $unameMachine := "" -}}
{{- if eq .chezmoi.os "linux" }}
  {{- $unameMachine = output "uname" "-m" | trim -}}
{{- end }}

{{- if has "tool" .software_groups }}
# dep of vhs
".local/bin/ttyd":
  type: file
  url: https://github.com/tsl0922/ttyd/releases/download/{{ .versions.ttyd }}/{{
    if eq $unameMachine "x86_64" }}ttyd.x86_64
    {{- else if eq $unameMachine "aarch64" }}ttyd.aarch64
    {{- else if hasPrefix $unameMachine "armv7" }}ttyd.armhf
    {{- else }}unsupported
    {{- end }}
  executable: true

".local/bin/gallery-dl":
    type: file
    url: https://github.com/mikf/gallery-dl/releases/download/v{{ .versions.gallery_dl }}/gallery-dl.bin
    executable: true

".local/bin/yt-dlp":
    type: file
    url: https://github.com/yt-dlp/yt-dlp/releases/download/{{ .versions.yt_dlp }}/yt-dlp_linux
    executable: true
{{- end }}
{{- end }}
