set -x STARSHIP_LOG  "error"

# chezmoi completion
{{ completion "fish" }}

{{- if has "rustup" .software_checks }}
# rustup completion
source "$HOME/.cargo/env.fish"
rustup completions fish | source
{{- end }}

{{ if has "xmake" .software_checks }}
# xmake completion
source ~/.xmake/profile
{{ end }}

{{- if has "uv" .software_checks }}
# uv completion
uv generate-shell-completion fish
{{- end }}

# Setup cli tools
{{- if has "carapace" .software_checks }}
# carapace completion
set -Ux CARAPACE_BRIDGES 'zsh,fish,bash,inshellisense' # optional
carapace _carapace | source
{{- end }}

{{- if has "starship" .software_checks }}
starship init fish | source
{{- end }}

{{- if has "zoxide" .software_checks }}
zoxide init fish | source
{{- end }}

{{- if has "fzf" .software_checks }}
fzf --fish | source
{{- end }}