{{/* Shell configuration */}}
{{- $availableShells := list -}}
{{- $defaultShells := list -}}

{{- if eq .chezmoi.os "linux" }}
  {{- $availableShells = list "nushell" "fish" "bash" -}}
  {{- $defaultShells = list "fish" "bash" -}}
{{- else if eq .chezmoi.os "windows" }}
  {{- $availableShells = list "nushell" "powershell" -}}
  {{- $defaultShells = list "powershell" -}}
{{- end }}

{{- $shellPrompt := "Which shells do you want to configure? (Uninstalled shells will be installed automatically)" -}}
{{- $chosenShells := promptMultichoice $shellPrompt $availableShells $defaultShells -}}

{{/* Software package group selection */}}
{{- $softwareGroupsPrompt := join "\n" (list
  "Select which groups of software to install:"
  "  core  - Essential tools (Git, VS Code)"
  "  dev   - Developer tools (xmake, uv, build tools)"
  "  cli   - CLI productivity tools (zoxide, bat, eza)"
  "  tool  - Extra utilities (typst, Anytype, KeePassXC, vhs)"
) -}}
{{- $availableGroups := list "core" "dev" "cli" "tool" -}}
{{- $defaultGroups := list "core" -}}
{{- $chosenSoftwareGroups := promptMultichoice $softwareGroupsPrompt $availableGroups $defaultGroups -}}

{{/* ~~~~~ Software Checks ~~~~~ */}}
{{- $locationCheck := list -}}
{{- if eq .chezmoi.os "linux" }}
  {{- $locationCheck = list "bin" "/usr/bin" ".local/bin" -}}
{{- else if eq .chezmoi.os "windows" }}
  {{ $wingetLinksPath := joinPath .chezmoi.homeDir "AppData" "Local" "Microsoft" "WinGet" "Links"}}
  {{- $locationCheck = list $wingetLinksPath -}}
{{- end }}

{{- $groupTools := dict
      "dev"  (list "xmake" "rustup" "uv")
      "cli"  (list "carapace" "starship" "zoxide" "fzf")
-}}
{{- $otherTools := (list "uv")}}

{{- /* Build a list of all tools to check based on chosen groups */}}
{{- $toolsFromChosenGroups := list -}}
{{- range $groupName := $chosenSoftwareGroups }}
  {{- if hasKey $groupTools $groupName }}
    {{- $toolsInGroup := get $groupTools $groupName -}}
    {{- $toolsFromChosenGroups = concat $toolsFromChosenGroups $toolsInGroup -}}
  {{- end -}}
{{- end }}

{{- $allTools := $otherTools -}}
{{- range $_, $tools := $groupTools -}}
  {{- $allTools = concat $allTools $tools -}}
{{- end }}


{{- /* A tool is added if it's in a selected group OR if it's already installed. */ -}}
{{- $softwareChecks := list -}}
{{- range $tool := $allTools | uniq }}
  {{- $isInstalled := or (findExecutable $tool $locationCheck) (lookPath $tool) -}}
  {{- $isInChosenGroup := has $tool $toolsFromChosenGroups -}}
  {{- if or $isInChosenGroup $isInstalled }}
    {{- $softwareChecks = append $softwareChecks $tool -}}
  {{- end -}}
{{- end }}

[data]
shells = {{ $chosenShells | toToml }}
software_groups = {{ $chosenSoftwareGroups | toToml }}
software_checks = {{ $softwareChecks | toToml }}
