{{/* Shell configuration */}}
{{- $availableShells := list -}}
{{- $defaultShells := list -}}

{{- if eq .chezmoi.os "linux" }}
  {{- $availableShells = list "nushell" "fish" "bash" -}}
  {{- $defaultShells = list "fish" "bash" -}}
{{- else if eq .chezmoi.os "windows" }}
  {{- $availableShells = list "nushell" "powershell" -}}
  {{- $defaultShells = list "powershell" -}}
{{- end }}

{{- $shellPrompt := "Which shells do you want to configure? (Uninstalled shells will be installed automatically)" -}}
{{- $chosenShells := promptMultichoice $shellPrompt $availableShells $defaultShells -}}

{{/* Software package group selection */}}
{{- $softwareGroupsPrompt := join "\n" (list
  "Select which groups of software to install:"
  "  core  - Essential tools (Git, VS Code)"
  "  dev   - Developer tools (xmake, uv, build tools)"
  "  cli   - CLI productivity tools (zoxide, bat, eza)"
  "  tool  - Extra utilities (typst, Anytype, KeePassXC, vhs)"
) -}}
{{- $availableGroups := list "core" "dev" "cli" "tool" -}}
{{- $defaultGroups := list "core" -}}
{{- $chosenSoftwareGroups := promptMultichoice $softwareGroupsPrompt $availableGroups $defaultGroups -}}

[data]
shells = {{ $chosenShells | toToml }}
software_groups = {{ $chosenSoftwareGroups | toToml }}

