Set-StrictMode -Version 3.0
$ErrorActionPreference = "Stop"

{{- $winget_packages := list -}}
{{- range .selected_software_groups }}
  {{- $winget_packages = concat $winget_packages (dig . list .packages.winget) -}}
{{- end }}


#region Winget packages
{{ $winget_list := (output "cmd" "/C" "winget export -s winget -o %TEMP%\\winget_list && type %TEMP%\\winget_list") -}}
{{ range $winget_packages -}}
{{   if not (contains . $winget_list) -}}
        Write-Host Installing winget package '{{ .}}'
        winget install `
          --scope user --exact --source winget --id {{ . }} `
          --accept-source-agreements `
          --accept-package-agreements `
          --silent `
          --disable-interactivity
{{   end -}}
{{ end }}
#endregion

$installDir = "C:\Program Files\KeePassXC"
$currentPath = [Environment]::GetEnvironmentVariable("Path", [EnvironmentVariableTarget]::Machine)

if ($currentPath -notlike "*$installDir*") {
    $newPath = $currentPath + ";" + $installDir
    [Environment]::SetEnvironmentVariable("Path", $newPath, [EnvironmentVariableTarget]::Machine)
}


#region Shells installation
{{- if has "powershell" .shells }}
winget install `
    --scope user --exact --source winget --id Microsoft.PowerShell `
    --accept-source-agreements `
    --accept-package-agreements `
    --silent `
    --disable-interactivity
{{- end }}

{{- if has "nushell" .shells }}
winget install `
    --scope user --exact --source winget --id Nushell.Nushell `
    --accept-source-agreements `
    --accept-package-agreements `
    --silent `
    --disable-interactivity
{{- end }}
#endregion

# xmake can't be installed like the other packages, because if it installed like the others, xrepo
# isn't available.
{{- if has "dev" .software_groups }}
winget install --id Xmake-io.Xmake --interactive
{{ end }}

# If in Windows PowerShell (Desktop edition), remove any PS7 paths
# used to install PSFzf module correctly in and get it working in both PS5.1 and PS7.
if ($PSVersionTable.PSEdition -eq 'Desktop') {
    $mydocuments = [environment]::getfolderpath("mydocuments")
    $userPath = Join-Path $mydocuments 'Documents\WindowsPowerShell\Modules'

    $programFiles = "$env:ProgramFiles\WindowsPowerShell\Modules"
    $systemPath   = "$env:WINDIR\System32\WindowsPowerShell\v1.0\Modules"

    # Set PSModulePath to match a normal PS 5.1 session
    $Env:PSModulePath = "$userPath;$programFiles;$systemPath"
}

# Install PSFzf module for fuzzy finding in PowerShell
Import-Module PackageManagement
Import-Module PowerShellGet
Install-Module -Name PSFzf -Scope CurrentUser