
sudo apt update

#region Shell installation
{{- if has "fish" .shells }}
    {{- if not (or (findExecutable "fish" (list "bin" "/usr/bin" ".local/bin")) (lookPath "fish")) }}
sudo apt install fish
    {{- end }}
{{- end }}

{{- if has "nushell" .shells }}
    {{- if not (or (findExecutable "nu" (list "bin" "/usr/bin" ".local/bin")) (lookPath "nu")) }}
curl -fsSL https://apt.fury.io/nushell/gpg.key | sudo gpg --dearmor -o /etc/apt/trusted.gpg.d/fury-nushell.gpg
echo "deb https://apt.fury.io/nushell/ /" | sudo tee /etc/apt/sources.list.d/fury.list
sudo apt update
sudo apt install nushell
    {{- end }}
{{- end }}
#endregion

#region Software installation
{{- if has "core" .software_groups }}
sudo apt install git
{{- end }}

{{- if has "tool" .software_groups }}
# dependencies for vhs
sudo apt install ffmpeg

    {{- if not (or (findExecutable "flatpak" (list "bin" "/usr/bin" ".local/bin")) (lookPath "flatpak")) }}
sudo apt install flatpak
flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    {{- end }}
    
flatpak install --user flathub io.anytype.anytype
{{- end }}
#endregion
