

#region Shell installation
{{- if has "fish" .shells }}
    {{- if not (or (findExecutable "fish" (list "bin" "/usr/bin" ".local/bin")) (lookPath "fish")) }}
sudo dnf install fish
    {{- end }}
{{- end }}

{{- if has "nushell" .shells }}
    {{- if not (or (findExecutable "nu" (list "bin" "/usr/bin" ".local/bin")) (lookPath "nu")) }}
sudo dnf copr enable atim/nushell
sudo dnf install nushell
    {{- end }}
{{- end }}
#endregion

#region Software installation
{{- if has "base" .software_groups }}
sudo dnf install git

sudo dnf -y install dnf-plugins-core
sudo dnf-3 config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
sudo dnf install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
sudo systemctl enable --now docker
{{- end }}

{{- if has "tool" .software_groups }}
# dependencies for vhs
sudo dnf install ffmpeg-free

{{- end }}

{{- if has "gui" .software_groups }}
    {{- if not (or (findExecutable "flatpak" (list "bin" "/usr/bin" ".local/bin")) (lookPath "flatpak")) }}
sudo dnf install flatpak
flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    {{- end }}
{{- end }}
#endregion