#! /bin/bash

{{- if has "dev" .software_groups }}
    {{- if not (or (findExecutable "xmake" (list "bin" "/usr/bin" ".local/bin")) (lookPath "xmake")) }}
curl -fsSL https://xmake.io/shget.text | bash
    {{ end }}
{{ end }}

{{- if eq .chezmoi.osRelease.idLike "debian" }}
{{ template "scripts/debian.ps1.tmpl" . }}
{{ else if eq .chezmoi.osRelease.id "fedora" }}
{{ template "scripts/fedora.ps1.tmpl" . }}
{{ end }}

{{- if has "tool" .software_groups }}
flatpak install -y --user flathub io.anytype.anytype
flatpak install -y --user flathub org.keepassxc.KeePassXC
flatpak install -y --user flathub io.github.martchus.syncthingtray
# https://github.com/flathub/io.github.martchus.syncthingtray/blob/master/README.md#known-flatpak-related-issues
mkdir -p $HOME/.config/autostart
ln -sf $HOME/.local/share/flatpak/app/io.github.martchus.syncthingtray/current/active/export/share/applications/io.github.martchus.syncthingtray.desktop $HOME/.config/autostart/
{{- end }}
