# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true
command_timeout = 1000

[package]
disabled = false

# Dont' need those two because it just displays the compiler version
# and it could be the wrong compiler for a given project
[c]
disabled = true
[cpp]
disabled = true

[lua]
# To not get xmake file get recognized as a lua project
detect_files = ["!xmake.lua"]

[custom.xmake]
# bracketed format
# format = '\[[$symbol (\($output\))]($style)\]'
# standard format
format = 'via [$symbol(\($output\))]($style)'
detect_files = ['xmake.lua']
detect_folders = ['.xmake', 'build']
style = "green bold"
symbol = "◯ "
# symbol = "⊗ "
command = """xmake lua '{{ .chezmoi.homeDir }}/.config/starship/cmd.lua' -g"""
# Disable when because it slow down the change of directory
# when = """xmake lua '{{ .chezmoi.homeDir }}/.config/starship/when.lua'"""